--- Django (Python) ---

*.pyc
pycache/
db.sqlite3
*.log
.env
venv/
env/
.DS_Store

--- React (Node) ---

frontend/node_modules/

frontend/dist/  <-- REMOVED (We want to upload the built site)

frontend/.vite/
.vscode/